<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wanderlust</title>
</head>
<body>
<h3>Create a New Listing</h3>
<form method="POST" action="/listings/<%= listing._id %>?_method=PUT%>">
    <label><input name="listing[title]" value="<%= listing.title %>" type="text"></label>
    <br/><br/>
    <label><textarea name="listing[description]"><%= listing.description %></textarea></label>
    <br/><br/>
    <label><input name="listing[image]" value="<%= listing.image %>" type="text"></label>
    <br/><br/>
    <label><input name="listing[price]" value="<%= listing.price %>" type="number"></label>
    <br/><br/>
    <label><input name="listing[country]" value="<%= listing.country %>" type="text"></label>
    <br/><br/>
    <label><input name="listing[location]" value="<%= listing.location %>" type="text"></label>
    <br/><br/>
    <button>Edit</button>
</form>
</body>
</html>